* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.swiper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #20364b;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main > * {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header {
  position: relative;
}

.header.active::before {
  width: 100%;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 0;
  height: 100%;
  background: #20364b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 150px;
  padding: 5px 15px;
  -webkit-column-gap: 150px;
  -moz-column-gap: 150px;
  column-gap: 150px;
  min-height: 150px;
}

.header__container > * {
  position: relative;
  z-index: 12;
}

.header__logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.header__logo-ibg {
  display: block;
  width: 125px;
  height: 125px;
}

.header__logo-ibg img {
  -o-object-fit: contain;
  object-fit: contain;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav-header__link {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  font-weight: 700;
  letter-spacing: 0.15em;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-header__link.active::before {
  left: 0;
  width: 100%;
}

.nav-header__link.active:focus::before {
  left: 50%;
  width: 0;
}

.nav-header__link:focus {
  color: #fdc11f;
}

.nav-header__link:focus::before {
  left: 0;
  width: 100%;
}

.nav-header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: auto;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: #fdc11f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 40px;
  padding: 5px 30px;
  text-align: center;
  background: #006eff;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-header:focus {
  color: #20364b;
  background: #ffffff;
}

.cart-btn {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
}

.cart-btn img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}

.cart-btn__counter {
  position: absolute;
  bottom: 60%;
  left: 50%;
  z-index: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 1;
  color: #20364b;
  background: #fdc11f;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

[class*=-ibg] {
  position: relative;
  overflow: hidden;
}

[class*=-ibg] img,
[class*=-ibg] source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.lazy-image {
  position: relative;
  background: #20364b;
}

.lazy-image__preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  margin-top: -21px;
  border: 4px solid #fdc11f;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: lazy-image-preloader-spin 1s infinite linear;
  animation: lazy-image-preloader-spin 1s infinite linear;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lazy-image__preloader_white {
  border-color: #ffffff;
  border-top-color: transparent;
}

@-webkit-keyframes lazy-image-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lazy-image-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-create__title,
.form-sign-in__title,
.form-user__title {
  margin-bottom: 30px;
  font-weight: 700;
}

.form-admin__textarea,
.form-admin__input,
.form-create__input,
.form-sign-in__input,
.form-user__input {
  margin-bottom: 30px;
}

.form-admin__textarea > input,
.form-admin__input > input,
.form-create__input > input,
.form-sign-in__input > input,
.form-user__input > input,
.form-admin__textarea > textarea,
.form-admin__input > textarea,
.form-create__input > textarea,
.form-sign-in__input > textarea,
.form-user__input > textarea {
  width: 100%;
  min-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  color: #20364b;
  border-radius: 20px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.form-admin__textarea > input:focus,
.form-admin__input > input:focus,
.form-create__input > input:focus,
.form-sign-in__input > input:focus,
.form-user__input > input:focus,
.form-admin__textarea > textarea:focus,
.form-admin__input > textarea:focus,
.form-create__input > textarea:focus,
.form-sign-in__input > textarea:focus,
.form-user__input > textarea:focus {
  -webkit-box-shadow: 0 0 10px #fdc11f;
  box-shadow: 0 0 10px #fdc11f;
}

.form-admin__textarea > input:focus::-webkit-input-placeholder,
.form-admin__input > input:focus::-webkit-input-placeholder,
.form-create__input > input:focus::-webkit-input-placeholder,
.form-sign-in__input > input:focus::-webkit-input-placeholder,
.form-user__input > input:focus::-webkit-input-placeholder,
.form-admin__textarea > textarea:focus::-webkit-input-placeholder,
.form-admin__input > textarea:focus::-webkit-input-placeholder,
.form-create__input > textarea:focus::-webkit-input-placeholder,
.form-sign-in__input > textarea:focus::-webkit-input-placeholder,
.form-user__input > textarea:focus::-webkit-input-placeholder {
  font-size: 0;
}

.form-admin__textarea > input:focus::-moz-placeholder,
.form-admin__input > input:focus::-moz-placeholder,
.form-create__input > input:focus::-moz-placeholder,
.form-sign-in__input > input:focus::-moz-placeholder,
.form-user__input > input:focus::-moz-placeholder,
.form-admin__textarea > textarea:focus::-moz-placeholder,
.form-admin__input > textarea:focus::-moz-placeholder,
.form-create__input > textarea:focus::-moz-placeholder,
.form-sign-in__input > textarea:focus::-moz-placeholder,
.form-user__input > textarea:focus::-moz-placeholder {
  font-size: 0;
}

.form-admin__textarea > input:focus:-ms-input-placeholder,
.form-admin__input > input:focus:-ms-input-placeholder,
.form-create__input > input:focus:-ms-input-placeholder,
.form-sign-in__input > input:focus:-ms-input-placeholder,
.form-user__input > input:focus:-ms-input-placeholder,
.form-admin__textarea > textarea:focus:-ms-input-placeholder,
.form-admin__input > textarea:focus:-ms-input-placeholder,
.form-create__input > textarea:focus:-ms-input-placeholder,
.form-sign-in__input > textarea:focus:-ms-input-placeholder,
.form-user__input > textarea:focus:-ms-input-placeholder {
  font-size: 0;
}

.form-admin__textarea > input:focus::-ms-input-placeholder,
.form-admin__input > input:focus::-ms-input-placeholder,
.form-create__input > input:focus::-ms-input-placeholder,
.form-sign-in__input > input:focus::-ms-input-placeholder,
.form-user__input > input:focus::-ms-input-placeholder,
.form-admin__textarea > textarea:focus::-ms-input-placeholder,
.form-admin__input > textarea:focus::-ms-input-placeholder,
.form-create__input > textarea:focus::-ms-input-placeholder,
.form-sign-in__input > textarea:focus::-ms-input-placeholder,
.form-user__input > textarea:focus::-ms-input-placeholder {
  font-size: 0;
}

.form-admin__textarea > input:focus::placeholder,
.form-admin__input > input:focus::placeholder,
.form-create__input > input:focus::placeholder,
.form-sign-in__input > input:focus::placeholder,
.form-user__input > input:focus::placeholder,
.form-admin__textarea > textarea:focus::placeholder,
.form-admin__input > textarea:focus::placeholder,
.form-create__input > textarea:focus::placeholder,
.form-sign-in__input > textarea:focus::placeholder,
.form-user__input > textarea:focus::placeholder {
  font-size: 0;
}

.books__btn,
.form-create__btn,
.form-sign-in__btn {
  min-height: 40px;
  padding: 5px 40px;
  font-size: 20px;
  color: #20364b;
  text-transform: lowercase;
  background: #fdc11f;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.books__btn:focus,
.form-create__btn:focus,
.form-sign-in__btn:focus {
  -webkit-box-shadow: 0 0 10px #fdc11f;
  box-shadow: 0 0 10px #fdc11f;
}

.admin__text,
.user__text {
  max-width: max(30vw, 345px);
  margin-bottom: 3.125em;
}

.btns-admin__btns,
.btns-user__btns {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  row-gap: 10px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.btns-admin__btn,
.btns-user__btn {
  min-height: 30px;
  padding: 5px 10px;
  color: #20364b;
  background: white;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
}

.btns-admin__btn:not(.active.btns-admin__btn):not(.active.btns-user__btn):focus,
.btns-user__btn:not(.active.btns-admin__btn):not(.active.btns-user__btn):focus {
  -webkit-box-shadow: 0 0 10px #fdc11f;
  box-shadow: 0 0 10px #fdc11f;
}

.btns-admin__btn:nth-child(1),
.btns-user__btn:nth-child(1) {
  grid-column: 1/-1;
  min-height: 40px;
  font-size: 20px;
  background: #fdc11f;
}

.active.btns-admin__btn,
.active.btns-user__btn {
  color: #ffffff;
  background: #006eff;
  opacity: 0.5;
  cursor: not-allowed;
}

.form-admin__btn,
.form-user__btn {
  min-height: 40px;
  padding: 5px 40px;
  font-size: 20px;
  color: #20364b;
  text-transform: lowercase;
  background: #fdc11f;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-admin__btn:focus,
.form-user__btn:focus {
  -webkit-box-shadow: 0 0 10px #fdc11f;
  box-shadow: 0 0 10px #fdc11f;
}

.banner__title {
  margin-bottom: 0.4em;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fdc11f;
  font-size: 75px;
}

.banner__text {
  max-width: max(50vw, 345px);
  margin-bottom: 1.5em;
  font-size: 20px;
}

.banner__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  padding: 5px 75px 5px 50px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  color: #20364b;
  background: #fdc11f;
  border-radius: 20px;
}

.banner__btn:focus span::before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.banner__btn span {
  position: relative;
}

.banner__btn span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: btn-arrow-move 0.75s alternate linear paused infinite;
  animation: btn-arrow-move 0.75s alternate linear paused infinite;
}

@-webkit-keyframes btn-arrow-move {
  100% {
    right: -45px;
  }
}

@keyframes btn-arrow-move {
  100% {
    right: -45px;
  }
}

.about__title {
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #fdc11f;
  font-size: 60px;
}

.about__text {
  max-width: max(50vw, 400px);
  font-size: 25px;
}

.form-user__title {
  font-size: 40px;
}

.sign-in__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-sign-in {
  width: 100%;
  max-width: 400px;
}

.form-sign-in__title {
  font-size: 40px;
  color: #fdc11f;
  text-align: center;
}

.form-sign-in__input:last-of-type input {
  margin-bottom: 5px;
}

.form-sign-in__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.form-sign-in__checkbox label,
.form-sign-in__checkbox input {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.form-sign-in__checkbox label {
  white-space: nowrap;
}

.form-sign-in__checkbox label:focus {
  color: #fdc11f;
}

.form-sign-in__checkbox input:focus {
  -webkit-box-shadow: 0 0 5px #fdc11f;
  box-shadow: 0 0 5px #fdc11f;
}

.form-sign-in__create {
  text-align: right;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-sign-in__create:focus {
  color: #fdc11f;
}

.form-sign-in__btn {
  width: 100%;
}

.form-create__title {
  color: #fdc11f;
  font-size: 40px;
}

.popup-create {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  pointer-events: none;
}

.popup-create.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup-create__content {
  margin: auto;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background: #20364b;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px #ffffff;
  box-shadow: 0 0 15px #ffffff;
}

.books__container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 50px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.books__image-ibg {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 159.5744680851%;
}

.books__name {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.books__name:focus {
  color: #fdc11f;
}

.books__author {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.books__author:focus {
  color: #fdc11f;
  opacity: 1;
}

.books__price {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}

.books__btn {
  width: 100%;
}

.btns-admin__btns:not(:last-child) {
  grid-template-columns: repeat(4, auto);
}

.form-admin__textarea > textarea {
  min-height: 200px;
  padding: 15px;
  resize: vertical;
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }

  .nav-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
  }

  .admin__row,
  .user__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
  }

  .btns-admin,
  .btns-user {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .form-admin,
  .form-user {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .banner__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
  }

  .banner__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .banner__image-ibg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36.8852459016%;
    flex: 0 0 36.8852459016%;
    padding-bottom: 32.7868852459%;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .create__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }

  .create__image-ibg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49.1803278689%;
    flex: 0 0 49.1803278689%;
    padding-bottom: 49.1803278689%;
  }

  .form-create {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

@media (min-width: 993px) {
  .form-create__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .form-create__name .form-create__input {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (max-width: 1250px) {
  .main > * {
    padding-top: calc(20px + 30 * ((100vw - 375px) / 875));
  }

  .main > * {
    padding-bottom: calc(20px + 30 * ((100vw - 375px) / 875));
  }

  .header__container {
    -webkit-column-gap: calc(50px + 100 * ((100vw - 375px) / 875));
    -moz-column-gap: calc(50px + 100 * ((100vw - 375px) / 875));
    column-gap: calc(50px + 100 * ((100vw - 375px) / 875));
  }

  .header__container {
    min-height: calc(110px + 40 * ((100vw - 375px) / 875));
  }

  .header__logo-ibg {
    width: calc(100px + 25 * ((100vw - 375px) / 875));
  }

  .header__logo-ibg {
    height: calc(100px + 25 * ((100vw - 375px) / 875));
  }

  .btns-admin__btn,
  .btns-user__btn {
    font-size: calc(12px + 4 * ((100vw - 375px) / 875));
  }

  .banner__title {
    font-size: calc(30px + 45 * ((100vw - 375px) / 875));
  }

  .banner__text {
    font-size: calc(16px + 4 * ((100vw - 375px) / 875));
  }

  .about__title {
    font-size: calc(25px + 35 * ((100vw - 375px) / 875));
  }

  .about__text {
    font-size: calc(16px + 9 * ((100vw - 375px) / 875));
  }

  .form-user__title {
    font-size: calc(20px + 20 * ((100vw - 375px) / 875));
  }

  .form-create__title {
    font-size: calc(30px + 10 * ((100vw - 375px) / 875));
  }
}

@media (max-width: 768px) {
  .header__container {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .burger {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    width: 40px;
    height: 25px;
    border: 3px solid #fdc11f;
    border-right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .burger.active {
    border-color: transparent;
    overflow: visible;
  }

  .burger.active::before {
    height: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(135deg);
    -ms-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);
  }

  .burger.active::after {
    height: 3px;
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-135deg);
    -ms-transform: translateY(50%) rotate(-135deg);
    transform: translateY(50%) rotate(-135deg);
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    right: 2.5px;
    width: 80%;
    height: 2px;
    border-radius: 3px;
    background: #fdc11f;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .burger::before {
    top: 5px;
  }

  .burger::after {
    bottom: 5px;
  }

  .nav-header {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0 15px 30px;
    background: #ffffff;
    overflow: auto;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    padding-top: calc(140px + 40 * ((100vw - 375px) / 1065));
  }

  .nav-header.active {
    left: 0;
  }

  .nav-header__item {
    text-align: center;
  }

  .nav-header__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav-header__link {
    font-size: 25px;
    color: #20364b;
  }

  .admin__btns,
  .user__btns {
    margin-bottom: 50px;
  }

  .banner__container {
    position: relative;
  }

  .banner__content {
    position: relative;
    z-index: 1;
  }

  .banner__image-ibg {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    padding-bottom: 88.9322916667%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.15;
  }

  .create__image-ibg {
    display: none;
  }

  .form-create {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px;
  }

  .nav-header__list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .btn-header:focus {
    background: #fdc11f;
  }
}

@media (any-hover: hover) and (max-width: 400px) {
  .btn-header:hover {
    background: #fdc11f;
  }
}

@media (max-width: 320px) {
  .header__container {
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1250px) {
  .nav-header__list {
    -webkit-column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
    -moz-column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
    column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
  }

  .admin__row,
  .user__row {
    -webkit-column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
    -moz-column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
    column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
  }

  .banner__container {
    -webkit-column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
    -moz-column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
    column-gap: calc(20px + 80 * ((100vw - 375px) / 875));
  }
}

@media (max-width: 768px) and (min-width: 601px) {
  .btns-admin,
  .btns-user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}

@media (min-width: 769px), (max-width: 600px) {
  .btns-admin__btns:not(:last-child),
  .btns-user__btns:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (any-hover: hover) {
  .nav-header__link.active:hover::before {
    left: 50%;
    width: 0;
  }

  .nav-header__link:hover {
    color: #fdc11f;
  }

  .nav-header__link:hover::before {
    left: 0;
    width: 100%;
  }

  .btn-header:hover {
    color: #20364b;
    background: #ffffff;
  }

  .books__btn:hover,
  .form-create__btn:hover,
  .form-sign-in__btn:hover {
    -webkit-box-shadow: 0 0 10px #fdc11f;
    box-shadow: 0 0 10px #fdc11f;
  }

  .btns-admin__btn:not(.active.btns-admin__btn):not(.active.btns-user__btn):hover,
  .btns-user__btn:not(.active.btns-admin__btn):not(.active.btns-user__btn):hover {
    -webkit-box-shadow: 0 0 10px #fdc11f;
    box-shadow: 0 0 10px #fdc11f;
  }

  .form-admin__btn:hover,
  .form-user__btn:hover {
    -webkit-box-shadow: 0 0 10px #fdc11f;
    box-shadow: 0 0 10px #fdc11f;
  }

  .banner__btn:hover span::before {
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  .form-sign-in__checkbox label:hover {
    color: #fdc11f;
  }

  .form-sign-in__checkbox input:hover {
    -webkit-box-shadow: 0 0 5px #fdc11f;
    box-shadow: 0 0 5px #fdc11f;
  }

  .form-sign-in__create:hover {
    color: #fdc11f;
  }

  .books__name:hover {
    color: #fdc11f;
  }

  .books__author:hover {
    color: #fdc11f;
    opacity: 1;
  }
}